[2021-02-24 14:11] george-gca commented on #396
Wow, haven't tried that. Good to know.

[2021-02-26 17:42] george-gca commented on #396
@aviadr1 don't know if you saw it, but I answered you in the other bug

[2021-02-26 17:46] george-gca opened #397 "[Feature Request] Dark Mode"
It would be nice to have a dark/night mode. Currently for this I use the Dark Reader chrome extension, but it doesn't handle well the plots.

[2021-02-26 17:52] george-gca commented on #335
There is also the option of converting the model to [ONNX](https://pytorch.org/docs/stable/onnx.html).

[2021-02-26 18:05] dsblank commented on #335
Indeed! We have some work on that front coming soon. I'll report back here.

[2021-03-01 17:48] george-gca opened #398 "[Feature Request] Slider value small adjustment"
It would be nice if in the sliders (e.g. when choosing Y-axis smoothing)

![image](https://user-images.githubusercontent.com/31376482/109535753-add6ff00-7a9b-11eb-8f51-4bb286b1156c.png)

we could do some unitary changes. I know that it is possible using the keyboard left and right arrows, but a clickable solution would be useful. A few suggestions are adding some buttons to the text field

![image

[2021-03-01 18:02] george-gca opened #399 "Built-in line chart not working correctly on report"
Using a built-in line chart, it currently displays the wrong values in the report

![image](https://user-images.githubusercontent.com/31376482/109538305-aebd6000-7a9e-11eb-8c4b-46fde0ab5139.png)

but it shows the correct values in the preview, when I click edit

![image](https://user-images.githubusercontent.com/31376482/109538525-f217ce80-7a9e-11eb-93f3-7d21986af096.png)

[2021-03-01 18:43] dsblank commented on #399
Looking into this...

[2021-03-01 18:45] dsblank commented on #398
Thanks for the suggestions! Passing these along to the frontend design team.

[2021-03-01 19:01] dsblank commented on #399
@george-gca Can you provide (publically or privately) a link to the report?

[2021-03-01 19:28] george-gca commented on #399
How can I send you privately? I tried to generate the same error for another report, but couldn't.

[2021-03-01 19:32] dsblank commented on #399
I'm doug@comet.ml

[2021-03-01 19:59] george-gca commented on #399
I was actually able to replicate the bug in one of my public projects [here](https://www.comet.ml/george-gca/super-resolution-experiments/reports/test-report). It happens when I create a set of panels, then duplicate them and just change the metric displayed in all plots. Watch the first plots, then go down the report and come back to the first plots. It will display the second set of plots in the

[2021-03-01 20:01] dsblank commented on #399
Thank you for the replication steps! We're now looking into this.

[2021-03-04 16:55] dsblank commented on #399
We've identified the issue, and are testing the fix.

[2021-03-04 16:56] dsblank commented on #398
This has been added to the TODO list.

[2021-03-04 16:57] dsblank commented on #397
Passing on this suggestion to the team. Thanks for the idea!

[2021-03-04 17:01] dsblank commented on #393
Closing due to lack of info. Please re-open if you have additional data. Thanks!

[2021-03-04 17:01] #393 closed

[2021-03-05 16:22] george-gca opened #400 "Code refreshing when pressing `s` during custom panel edit"
I am trying to edit a new custom panel starting from a duplicate. I am trying to add a new option to the panel, named `max_epochs`, but everytime I press the `s` key it refreshes the code, deleting some of the part that I already typed, like
![image](https://user-images.githubusercontent.com/31376482/110143084-9bb7d200-7db5-11eb-9418-ece3682a967c.png)
when I press `s` to write `epochs` it goes to

[2021-03-05 16:45] dsblank commented on #400
Yes, that would be very annoying! Thanks for reporting... we're on it!

[2021-03-05 16:48] dsblank commented on #400
What browser/version are you using?

[2021-03-05 17:46] george-gca commented on #400
Google Chrome Version 89.0.4389.72 (Official Build) (64-bit) on Ubuntu 20.04.2 LTS

It appears that this happens if I don't save or run the code in a while.

[2021-03-05 17:50] dsblank commented on #400
Thank you; that is useful. The engineering team is looking into it.

[2021-03-07 17:48] george-gca opened #401 "[Feature Request] Log File Viewer"
It would be great if Comet had a log file viewer with syntax highlight support, like [lnav](https://github.com/tstack/lnav).

When I am running my experiments I save log files (generated with python built-in logging) for later checking if anything goes wrong and upload them, but reading them on Comet is currently not very useful. The file is open in a small side view, so usually I download it to r

[2021-03-12 14:48] Steboss opened #402 "pip install clang architecture error"
Hello everybody,

I found recently out this problem installing `comet_ml`:
[code]

I solved this problem by exporting `ARCHFLAGS` as: `export ARCHFLAGS="-arch x86_64"`
It may be related to #395

[2021-03-12 15:00] dsblank commented on #402
Yes, I think you are correct. We should have a fix out very quickly for this... we're finishing testing.

[2021-03-12 15:08] Steboss commented on #402
Great!

[2021-03-12 19:00] dsblank commented on #402
Please try the latest comet_ml, version 3.5.0: https://www.comet.ml/docs/python-sdk/releases/#release-350

[2021-03-12 19:01] dsblank commented on #395
Should be fixed with comet_ml version 3.5.0: https://www.comet.ml/docs/python-sdk/releases/#release-350

[2021-03-12 19:02] #395 closed

[2021-03-12 19:03] dsblank commented on #401
Noted; added to our list. Thanks for the suggestion!

[2021-03-12 19:03] dsblank commented on #400
Should be fixed now. Please let us know if you have any issues.

[2021-03-12 19:03] #400 closed

[2021-03-16 23:42] dsblank commented on #402
Should be fixed. Please re-open if questions or issues. Thanks for reporting!

[2021-03-16 23:42] #402 closed

[2021-03-17 15:36] george-gca opened #403 "[Feature Request] Let user decide max size of name in plot"
Currently in the plots the max size of the experiments' names (when using parameters) is decided by Comet

![image](https://user-images.githubusercontent.com/31376482/111494291-1a4d3180-871d-11eb-8ba7-5026197ecabb.png)

but it would be useful if I could set manually the max allowed size and I could scroll right like when I use experiments names that are too long.

![image](https://user-images.gith

[2021-03-18 15:58] dsblank commented on #403
Added to our list; thanks!

[2021-03-18 16:10] dsblank commented on #399
This should be fixed now.

[2021-03-24 09:04] Lothiraldan commented on #261
If anyone has the same issue, instead of running `python -m torch.utils.bottleneck ...` or `python -m torch.distributed.launch ...`, you can run `comet python -m torch.utils.bottleneck ...` or `comet python -m torch.distributed.launch ...`

[2021-03-25 16:20] #399 closed

[2021-03-28 16:27] Prateekkalkonda opened #404 "Import Error"
import IPython.display as ipd
import comet
#import comet_ml
import numpy as np
import pandas as pd
import librosa
import matplotlib.pyplot as plt
from comet_ml import Experiment
from scipy.io import wavfile as wav
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers impo

[2021-03-28 16:32] dsblank commented on #404
Move the line:

[code]

to the top.

[2021-03-28 16:34] Prateekkalkonda commented on #404
I tried that also but no change

On Sun, Mar 28, 2021 at 10:02 PM Doug Blank ***@***.***>
wrote:

[2021-03-28 16:43] dsblank commented on #404
How are you running the code?

This works for me:

[code]

Running the code:

[code]

Also, you should change your Comet API key after publicly posting it.

[2021-03-28 16:52] Prateekkalkonda commented on #404
from comet_ml import Experiment

import IPython.display as ipd
import numpy as np
import pandas as pd
import librosa
import matplotlib.pyplot as plt
from scipy.io import wavfile as wav
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation

[2021-03-28 16:58] Prateekkalkonda commented on #404
I am trying in Jupyter

[2021-03-31 19:49] george-gca commented on #399
@dsblank it is not fixed. You can see this in the public project I posted early. Look at the y axis of the first group of plots (0 to 1). Go down to the second group (between 20 to 30), then look back at the first group.

[2021-04-07 16:36] george-gca commented on #399
Moment 1
![image](https://user-images.githubusercontent.com/31376482/113902373-308f6000-97a6-11eb-99f4-b2899658069f.png)

Moment 2
![image](https://user-images.githubusercontent.com/31376482/113902430-3f761280-97a6-11eb-845c-fbf7d95ad1c6.png)

[2021-04-08 02:47] XXZhou25 commented on #18
worked perfectly. Thanx!

[2021-04-08 15:17] DeepOzean opened #405 "[Feature Request] Adding metric sample selection (e.g. max, min, last, first) to web UI columns"
It would be great, if you can select which sample point to show in the columns of the Web UI. During a run, metrics for each epoch are usually saved. Usually you want to see the best performance of a run (min or max depending on metric), not the last (currently shown in web UI). Then you can easily sort the runs based on that to see which hyperparameters works best.

[2021-04-27 18:49] lemairecarl opened #406 "Opening an experiment row breaks the charts in other experiment"
Steps:

1. Go to https://www.comet.ml/lemairecarl/radrec/view/new
2. Click to the down arrow next to the checkbox for the first experiment to open the details "in-place"
3. Do the same for the experiment below

Expected: The charts show correctly in both "open" experiments

Actual: The charts only show correctly in the last open experiment; for the other(s), it ends of saying "No data for this cha

[2021-04-27 18:57] lemairecarl commented on #406
There seem to be weird stuff happening today. Like, I'm seeing new experiments running inside old projects (the running experiments are from another project, they shoudn't be there). And that seems to affect the panels. When first entering the old project, the panels say "no data for this chart", but when I reverse the sort order (hiding the weird running experiments), the panels show.

[2021-04-27 19:04] dsblank commented on #406
Looking into this...

[2021-04-27 19:13] dsblank commented on #406
@lemairecarl Can you hard-refresh your browser and see if the issue continues?

[2021-04-27 19:27] dsblank commented on #406
If the issue continues, can you send a link to the "new experiments running inside old project" issue?

[2021-04-27 21:56] lemairecarl commented on #406
I've disabled the cache, and now it seems that the charts still disappear, but they reappear after about 5 seconds.
Not sure if it's really different after disabling the cache...

[2021-04-27 22:03] lemairecarl commented on #406
About the "new experiments running inside old project", it seems that changing the view has nudged the problem away.

Now, about the main issue, it seems related to the custom (saved) view I made in the single experiment page. It seems that this view causes problems in the "project dashboard" (where I can see charts from multiple experiment at once). When setting the default view of the experiment

[2021-04-27 22:08] dsblank commented on #406
Ok, thanks for the additional info. We'll take a look at this.

[2021-04-27 22:16] lemairecarl opened #407 "Project view infinite loading screen"
Both the Panels and Experiments sections are displaying "Loading..." for minutes, and seem like they will never actually load.

https://www.comet.ml/lemairecarl/pepseg-abysis-classif/view/qaYZuI5kzKec8q1UTM7xz6Cyk

[2021-04-27 22:22] dsblank commented on #407
Thanks for reporting; we'll take a look.

[2021-05-03 15:17] george-gca opened #408 "Built-in line chart not working correctly on report"
Actually, just a copy of #399 since it stopped receiving attention. It happens when I create a set of panels, then duplicate them and just change the metric displayed in all plots. Watch the first plots, then go down the report and come back to the first plots. It will display the second set of plots in the first one. Example of bug [here](https://www.comet.ml/george-gca/super-resolution-experimen

[2021-05-06 22:01] george-gca opened #409 "Link to Open in Embedding Projector not working"
When I open the `Assets` tab of an experiment, select the asset, click in `View` and then `Open in Embedding Projector`, it is incorrectly generating the url for the embedding, setting `experimentKey%3Dundefined`.

![image](https://user-images.githubusercontent.com/31376482/117370251-8128d480-ae9c-11eb-8caf-8a7f4afdebb6.png)
![image](https://user-images.githubusercontent.com/31376482/117370830-5ab

[2021-05-06 22:14] dsblank commented on #409
Thanks for the note! Will fix.

[2021-05-12 07:15] nikvaessen commented on #305
Is there a solution yet?

[2021-05-30 21:20] george-gca opened #410 "Add option to not show hidden experiments in built-in charts"
When creating built-in charts, it would be really useful if we could choose to not show hidden experiments in the legends.

![image](https://user-images.githubusercontent.com/31376482/120120414-6bdd5800-c173-11eb-8f1b-ffd1fd8b8dae.png)

Since I have a lot of experiments and already filtered them, it is kinda annoying to see them here in some cases.

[2021-05-31 14:19] duguyue100 opened #411 "How is the logging frequency limited?"
Hi, I'm really enjoying using comet-ml as a substitute for my current logging system.

I'm dealing with a speech recognition task where I chose to inference at __single samples__ while conducting validation at each epoch. And I log my text like this (I'm also using pytorch-lightning):

[code]

The inference speed on my machine is about 100 instances per second.

Soon after I'm running my validatio

[2021-05-31 15:57] duguyue100 commented on #411
Never mind, I figured out that the HTTP request is only 1000, so only 500 files can be logged.

[2021-05-31 15:57] #411 closed

[2021-06-25 13:10] Zadagu opened #412 "Feature Request: non square Confusion Matrix"
Hi,
I would like to upload non square confusion matrixes.

**Why do I need it?**
I have more than 100 classes and I want to focus on some key classes, which tend to be confused.
I create a matrix containing all classes and take the rows and columns for the ones i'm interested in.
This sub matrix will be extended by a "remaining" column, which is a sum over all other columns.
so i get a m by m+1 ma

[2021-06-26 00:31] half-potato opened #413 "Fast Dev Run still triggers logging with comet.ml"
The argument --fast_dev_run is meant to disable logging in pytorch lightning, but it doesn't.
Version:
pytorch_lightning: 1.3.2
comet_ml: 3.12.2

[2021-07-01 14:02] Leong1230 commented on #174
Hi! I set the COMET_DISABLE_AUTO_LOGGING=1 to disable auto logging, but it still logs a mass of infomation in my log file.
When I use PIL, I met the same logging problem but I can disable it by adding "logging.getLogger('PIL').setLevel(logging.INFO)".
What can I do to disabele the logging infomation from comet, since COMET_DISABLE_AUTO_LOGGING=1 not work for me?
I also tried 'export COMET_DISABLE_

[2021-07-09 19:34] xylee95 commented on #305
Following this issue as I'm also interested in having this feature!

[2021-07-10 16:50] dsblank commented on #305
Engineering taking a look at this.

[2021-07-29 13:57] lematmat opened #414 ""COMET ERROR: File-like could not be uploaded ""
Hi the support team,

I'm using the official Comet Transformers notebook:
https://github.com/comet-ml/comet-examples/blob/master/notebooks/Comet_and_Hugging_Face.ipynb), without any modification  and I have errors during training :
![Capture d’écran 2021-07-29 à 15 53 29](https://user-images.githubusercontent.com/19993147/127504477-e2618a66-a177-4efd-aae4-cd84e92aef33.png)

[2021-07-31 18:58] magehrig opened #415 "[Feature Request] UI: Delete Artifacts when deleting experiment"
The deletion of an experiment in the online user interface does not delete the corresponding artifacts. This is really cumbersome because it requires the users to find the artifacts without experiments and delete them manually.

**Request**:
When deleting an experiment, provide the option (e.g. as tickbox) to also delete the corresponding artifacts.

[2021-08-05 11:26] Nimrod007 commented on #414
Hi @lematmat , thanks for reporting, can you please share:
* py version
* Comet version
* Transformers version

[2021-08-13 12:28] pvardanis opened #416 "Experiment.clean() not working"
Running in `Python 3.7.11` and `comet_ml==3.14.0`.

It seems the clean() method that's supposed to clean the Experiment's loggers doesn't seem to be working. After logging a test metric and running APIExperiment.get_metrics(), I got this output:

[code]

However when I run Experiment.clean(), and repeat the above lines, I still get these values back. Isn't .clean() supposed to clean the loggers? I

[2021-08-13 15:14] dsblank commented on #414
We have identified the issue and are working on a solution.

[2021-08-13 15:32] dsblank commented on #416
Actually, `Experiment.clean()` just signals that the experiment has ended, but doesn't wait for all of the uploads to finish. If you want to finish off an experiment, use `Experiment.end()`.

I'm not sure what "clean the loggers" means. The lines you are reporting above are items previously logged and then collected from the Comet server. What are you attempting to do?

[2021-08-13 15:49] dsblank commented on #415
Thanks for the suggestion! This has been added to the list to be considered by the Product Design team [CM-744].

[2021-08-13 15:52] dsblank commented on #413
Thanks for the report. Because that is a flag on another project, you should report that there. If you create an issue on pytorch-lightning, could you link it to this one so that we can track it too?

[2021-08-13 15:54] dsblank commented on #412
Hello @Zadagu ! I think you can already do partially what you request by using the `selected` option to the confusion matrix. Although that still creates a square matrix, it allows you to select a subset of categories.

Does that help?

[2021-08-13 15:59] dsblank commented on #410
Thanks for the feedback! We have a new UI on the horizon that should address this issue.

[2021-08-13 16:03] dsblank commented on #404
Perhaps you didn't restart your kernel? Or perhaps you have Jupyter configured to import some libraries on startup? comet_ml works well in Jupyter, so it must be something with your local install or use.

[2021-08-13 16:03] #404 closed

[2021-08-13 16:09] dsblank commented on #399
I don't see what you are showing, so it has either been fixed, or there is something else about your setup that isn't working. If you still see the above, can you post your browser and os versions? Thanks!

[2021-08-13 16:24] dsblank commented on #407
Do you still have this issue?

[2021-08-13 16:25] dsblank commented on #406
Are you still experiencing this issue?

[2021-08-13 16:26] dsblank commented on #408
Closing this ticket to focus on #399

[2021-08-13 16:26] #408 closed

[2021-08-13 16:28] dsblank commented on #405
There is now a Custom Panel for displaying Optimizer runs, and you can pin an experiment (best so far) to show with other experiments. Does that help address your request?

[2021-08-13 17:12] pvardanis commented on #416
`Clean the experiment loggers, useful in case you want to debug your scripts with IPDB.`

From that line in the docs I understand that the loggers are emptied (i.e. log metric named 'test_metric1' in my case) and the same variables (that correspond to the parameters seen in comet.ai metrics & graphs tabs) can be used all over again. That way the corresponding values on comet.ml will be reloaded, a

[2021-08-13 17:20] dsblank commented on #416
I don't think there is a way to "reset an experiment" in the manner you mean. The best way would simple be to create a new experiment. Would that work for you? There are a few different types of experiments that may be more appropriate:

https://www.comet.ml/docs/python-sdk/experiment-overview/

[2021-08-13 18:15] george-gca commented on #399
Apparently, now it is fixed. I haven't changed the public project since that time.

[2021-08-14 14:55] dsblank commented on #399
Thanks for checking and reporting back!

[2021-08-16 07:00] pvardanis commented on #416
Not what I was looking for, but might work as an alternative. Thanks for the prompt reply!

[2021-08-16 20:27] #416 closed

[2021-08-18 22:21] lemairecarl commented on #406
It seems to be fixed. Thanks.

[2021-08-18 22:21] #406 closed

[2021-08-18 22:23] lemairecarl commented on #407
Not sure what was happening on that day of April, but today there doesn't seem to be a problem.

[2021-08-18 22:23] #407 closed

[2021-08-22 21:41] eyalho opened #417 "Question - upload interactive image (with bokeh for eg)"
The confusion matrix is awesome!
Im trying to plot also some interactive 2d visualization such as in

https://umap-learn.readthedocs.io/en/latest/basic_usage.html

![Screenshot_20210823-003824_Chrome.jpg](https://user-images.githubusercontent.com/53655596/130370853-ffcbaf31-0afd-4dc0-ac31-dbc2f52f10f3.jpg)

Any suggestions how to do it?

[2021-08-23 14:41] dsblank commented on #417
@eyalho You can do exactly what you like with Comet Custom Code Panels:

1. https://www.comet.ml/docs/user-interface/gallery/
2. https://www.comet.ml/docs/user-interface/panels/
3. https://www.comet.ml/docs/javascript-sdk/api/

[2021-08-26 23:37] stevenhillis opened #418 "system metrics not tracked by ExistingExperiment"
I create an experiment with
`experiment = Experiment(
                api_key=args.comet_api_key, workspace=args.comet_workspace,
                project_name=args.project_name, auto_output_logging="simple", auto_metric_logging=False,
                parse_args=False, disabled=args.disable_comet or rank != 0)`
and see system metrics tracked. My script is interrupted and my experiment ends. I conti

[2021-08-27 23:09] george-gca opened #419 "[Feature Request] Option to select all experiments in archived experiments"
When selecting archived experiments, currently we can select at most the ones shown in the screen (max 25 since this is not customizable), but it would be useful to allow to select all of them (even the ones not currently shown). This is useful when, for example, deleting all archived experiments and you have more than 300 of them.

[2021-08-27 23:18] george-gca opened #420 "Error when deleting archived experiments from last page"
When in last page of archived experiments, deleting all experiments shown results in `This project has no archived experiments.` even though there are more archived experiments and the counter shows the remaining archived experiments.

![2021-08-27_20-17](https://user-images.githubusercontent.com/31376482/131197356-e8f9878e-b9f3-4786-8f2c-0dc4978df70e.png)

[2021-08-28 00:29] dsblank commented on #419
Thanks! Adding that to our list.

BTW, you can also delete archived experiments from the comet_ml Python SDK:
https://www.comet.ml/docs/python-sdk/API/#apidelete_experiments

[2021-08-28 00:31] dsblank commented on #420
Thank you for the report!

[2021-08-31 10:39] khush3 opened #421 "Retrive metrics from an existing experiment"
Hello!

I am trying to retrieve parameters (and some metrics) that have been logged previously using the ExistingExperiment class. However, while trying to do so, using the `get_parameter` throws KeyError. I can see that the `metrics` and `parameters` do not carry any value for the instance of the ExistingExperiment class I created.

Thank you so much!

Code snippet:
[code]

Output:
[code]
Further

[2021-09-10 06:42] rgaiacs opened #422 "set_epoch not working"
Hi,

I'm using [set_epoch](https://www.comet.ml/docs/python-sdk/Experiment/#experimentset_epoch) as in

[code]

but my calls to [log_metric](https://www.comet.ml/docs/python-sdk/Experiment/#experimentlog_metric) don't have the epoch value.

[2021-09-10 17:55] daniel-ziegler opened #423 "Experiment objects seem not to get garbage-collected"
I'm calling `Experiment.end()` and don't keep a reference to the `Experiment`, yet it seems to persist.

Since `Experiment` keeps models in `self._storage["torch"]["model"]`, this can cause GPU memory leaks if a script uses multiple models in succession.

This happens with comet_ml==3.15.4

[2021-09-13 13:57] dsblank commented on #423
Thanks for reporting this! If experiment.end() cleared _storage, do you think that would be enough to fix this problem for you?

[2021-09-13 14:12] dsblank commented on #422
Thanks for reporting! We're taking a look at this.

[2021-09-13 14:28] daniel-ziegler commented on #423
Yes, that would work!

On Mon, Sep 13, 2021, 6:57 AM Douglas Blank ***@***.***>
wrote:

[2021-09-13 15:29] dsblank commented on #421
@khush3 Thanks for the question! The `experiment.get_parameter()` is currently used to get the parameters logged by the current existing experiment. In order to get a parameter logged previously by another experiment instance, you'll need to use the `APIExperiment.get_parameters_summary("lr")` which would work something like:

[code]

Sorry for the confusion! We're working on unification of the ex

[2021-09-13 16:33] khush3 commented on #421
Thank you!

[2021-09-13 16:33] #421 closed

[2021-09-15 14:40] kretes opened #424 "images added by intercepting tf.summary image should have name"
Currently when we run a tensorflow job and a
[code]
we get a proper grouping by name in tensorboard, but in comet the images are added as a `tmps0ty71mi`  or similar, which therefore makes grouping by name not possible.

We should have the same behaviour as when the images are added explicitly by experiment.log_image()

I found an old issue, where it was said that auto-adding of images is not supp

[2021-09-22 17:06] marixko opened #425 "Logged curves are not showing"
Hello,

As you can see in the image below, I have several curves under a particular experiment. However, none of them are being shown in Logged Curves.

![image](https://user-images.githubusercontent.com/14929100/134386640-9e3c0814-6e39-46c8-9592-98b3cc0006f8.png)

For instance, z_sigma looks like this after downloading the file from comet.ml:

`{"x": [0.25, 0.75, 1.25, 1.75, 2.25, 2.75, 3.25, 3.7

[2021-09-22 17:11] dsblank commented on #425
@marixko Thanks for the report! Looking into this...

[2021-09-22 17:29] dsblank commented on #425
I was able to create a logged curve graph (see video below). I notice that your Options are slightly different from the Featured "Logged Curve" Panel. Is this a copy, or one that you have edited yourself?

![logged-curve](https://user-images.githubusercontent.com/168568/134392460-80e2f899-81d2-4bc3-aace-ba125ec47ee8.gif)

My experiment: https://www.comet.ml/dsblank/logged-curve/fb1e23d54fb049b485d

[2021-09-22 18:25] marixko commented on #425
Thanks for your quick answer!
I was able to create a curve graph the same way you have done in your video. The issue happens in another scenario. I tried to think what would be the differences between the two scenarios, and I could only think on those:

- log_curve are being called in a for loop
- a total of 14 curves are being logged, instead of one

About the Options in the logged curve panel, I

[2021-09-22 18:53] dsblank commented on #425
Ok, I see. Yes, each Panel is written individually, and the two that you were looking at ("Logged Curve", and "Plotting Curve with Step") have some differences on how they deal with multiple experiments, and multiple curves per experiment.

BUT, great news: we just released creating Panels in Python and it makes this super easy. Here is the code for selecting experiments, and then selecting the as

[2021-09-22 19:10] dsblank commented on #424
@kretes Thanks for the report! Yes, "make it work nice" is indeed our goal :) Looking into this issue...

[2021-09-22 20:54] marixko commented on #425
Very cool feature, thanks! I was able to plot a single curve for a single experiment using the code you provided, although that is not really useful for me.
The kind of plot that I need is similar to the metrics plotted per steps/wall/duration/epoch but with a custom x-axis. The motivation is: I need to evaluate the performance of my models per bins of my target value because some models will perf

[2021-09-23 16:12] dsblank commented on #425
Ok, thanks for the detailed information. Two points:

1. We are working allowing floating-point steps, which would allow log_metric() to work. It is in development.
2. You can do anything that you want with Custom Panels :)

Let me see if I can put together an example Python Panel ...

[2021-09-23 16:58] dsblank commented on #425
Here is a slight variation of the above:

![logged-curve-selection](https://user-images.githubusercontent.com/168568/134550960-a0d2e31e-ec9b-49b2-bf90-bf387127dd41.gif)

The logic is:

1. Go through all experiments and get all of the curve names
2. Allow user to select which curve name they want to see across all experiments that have it
3. Go through all experiments with that curve name and plot

[2021-09-24 13:55] marixko commented on #425
Thank you!!

[2021-09-26 05:30] f3n1Xx opened #426 "Question - Confusion Matrix"
How do you export confusion matrix as a JPEG or SVG?

[2021-09-26 18:47] dsblank commented on #426
@f3n1Xx Exporting the confusion matrix is not currently possible. We will add that to our enhancement list! Thanks for the question.

[2021-09-27 09:06] f3n1Xx commented on #426
another add-on would be to include a epoch slider to see how confusion matrix is evolving. In the meantime I'll look for alternatives

[2021-09-27 15:40] dsblank commented on #426
@f3n1Xx We have a version of the "epoch-slider" in the form of a pull-down menu: if you log different confusion matrices with names like "epoch-100", "epoch-200", ...etc you can select them here:

![Screenshot from 2021-09-27 08-39-26](https://user-images.githubusercontent.com/168568/134940666-4d9f7024-cbf8-4f1d-a7fa-f0d84fa8f00e.png)

[2021-10-06 17:07] dsblank commented on #415
@magehrig Thanks again for the feedback! This feature enhancement is not currently on our roadmap, but may be re-evaluated in the future.

[2021-10-07 04:31] rgaiacs opened #428 "log_code=False disables log_git_metadata"
I used

[code]

and my experiment reports says "No commit available".

When I change it to

[code]

I have the Git commit information.

[2021-10-13 20:38] f3n1Xx opened #434 "Comet and Transformers"
## Before Asking:
- [x] I have searched the Issue Tracker.
- [x] I have searched the Documentation.

## What is your question related to?
- [x] Comet Python SDK
- [ ] Comet UI
- [x] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lightning etc.)

## What is your question?

I am running comet with huggingface transformers. So my issue is the weird way the config is setup. Let me break

[2021-10-14 10:21] #426 closed

[2021-10-18 16:42] dsblank commented on #424
Fixes for this are now under development.

[2021-10-18 17:19] #423 closed

[2021-10-19 11:58] takemi853 opened #435 "ImportError: You must import Comet before these modules: sklearn"
I tried comet with lightgbm and got the following error. What is the cause of this?

![image](https://user-images.githubusercontent.com/56294749/137904582-be10f8b9-3c34-4447-92df-d57288fd6114.png)

Here's the code I ran.
[code]

[2021-10-19 14:10] DN6 commented on #435
Hello @takemi853. The traceback suggests that you may have imported modules from the `sklearn` library somewhere in your code before importing `comet_ml`.  Could you confirm if that is the case?

[2021-10-22 02:46] takemi853 commented on #435
I see.
You were right.
I've solved it. Thank you for your answer.

[2021-10-25 21:53] ianpegg-bc opened #436 "log_git_metadata takes minutes to execute"
## Describe the Bug
I am working in a large repository with many submodules, and `log_git_metadata` takes a few minutes to execute.

## Expected behavior
I expected to be able to log my git metadata without issues, even if all it does is log the current commit hash.

## Where is the issue?
- [x] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Ligh

[2021-10-26 18:14] bw4sz opened #437 "Legend plots don't have line color in new view"
## Describe the Bug
When you click into a plot the color of the line is not reflected by the legend, making it harder to match.

## Expected behavior
The line color and legend should be the same color for each group.

## Where is the issue?
- [ ] Comet Python SDK
- [ X] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lighting etc)

## Screenshots or GIFs
<img width="169

[2021-10-27 14:50] CharlesGaydon opened #438 ""Experiments" button inactive while on a specific experiment view"
## Describe the Bug
Clicking on "Experiments" while on the panel for a specific experiment does not move the page to the full listing of experiments.

## Expected behavior
A clear and concise description of what you expected to happen.

## Where is the issue?
- [ ] Comet Python SDK
- [X Comet UI (new one)
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lighting etc)

## To Repro

[2021-10-27 18:51] #436 closed, assigned to DN6, harpreetsahota204

[2021-10-28 00:54] kuri54 opened #439 "comet init --api-key"
Hi,
I tried to register an API Key from the terminal using `comet init --api-key`, but the following message was displayed and I could not proceed.

`COMET INFO: Comet API key is not set. You'll have to provide it explictly to experiments and API`

I was able to do this at least until a month ago, what could be the cause?

OS: macOS 11.6
comet version: 3.19.1

[2021-10-30 17:29] IanQS opened #440 "Histograms flickering as I scroll down the page"
## Describe the Bug
I'm logging histograms of my weights, biases, as well as the gradients of the layers. As I scroll down the page to inspect them, the screen auto-refreshes which puts me back at the top again. This seems to happen primarily with experiments that are still running. When I inspected the same experiment after I had stopped running the program everything settled down.

pops up (as o

[2021-10-31 05:42] IanQS opened #441 "`log_gradient` example in Pytorch (experiment.log_histogram_3d) leads to index out of bounds"
## Describe the Bug
A clear and concise description of what the bug is.
I'm using the logger from [Histogram-Logging-Pytorch.ipynb](https://colab.research.google.com/drive/1PJ_EoibXEM6Ogjc_YkPbE3v6eMyCznu-?usp=sharing) and I'm logging the gradients of my algorithm. However, I'm running into an issue where after some time, I'll get an "index" issue specifically

[code]

## Expected behavior
No erro

[2021-11-01 04:14] IanQS commented on #441
NVM, I misunderstood how to use it. I ended up accumulating the gradients through ALL epoch runs as opposed to resetting it on every new epoch

[2021-11-01 04:14] #441 closed

[2021-11-01 16:55] DN6 commented on #439
@kuri54  Could you share the stack trace with the error you receive while trying to set your API Key?

[2021-11-01 20:53] IanQS opened #442 "bar chart across time?"
## Before Asking:
- [X] I have searched the Issue Tracker.
- [X] I have searched the Documentation.

## What is your question related to?
- [X] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lightning etc.)

## What is your question?

Say I wanted to do a 3d plot to get an idea of my networks outputs over time, how might I do so? Say I have 3 cla

[2021-11-01 20:54] #442 closed

[2021-11-01 20:59] IanQS commented on #359
@seungjaeryanlee

Did you get this working? I'm looking to do something very similar but I ran into an issue where creating the second logger caused the first to get closed out

[2021-11-01 21:21] seungjaeryanlee commented on #359
My memory fails me, but I don't think it worked for me. I think I ended up using two separate experiment tracking solutions.

[2021-11-01 21:47] IanQS commented on #359
Thanks for the response! And damn, that sucks bc I really like Comet. Mind sharing what you used?

[2021-11-01 22:05] gidim commented on #359
@IanQS it should be possible with the example Doug provided. Have you tried that? After you call `experiment.end()` you can continue reporting to the same one using `ExistingExperiment()`

[2021-11-01 22:08] IanQS commented on #359
Ahh, gotcha! Okay, I'll look into that then, thanks!

[2021-11-01 23:34] kuri54 commented on #439
Today, I tried again to `export COMET_API_KEY=<Your API Key>` from the command line.
Last time I got an error message, but this time it worked fine.

Also, when I typed `comet init --api-key` on the command line, I did not get the same error as last time.
Maybe I was in a bad environment. (But I didn't change anything, and the error kept coming up for a few days.

Thank you for your support.
It lo

[2021-11-02 16:18] #439 closed

[2021-11-02 16:18] DN6 commented on #439
Thanks for the update @kuri54! Closing this issue for now.

[2021-11-02 16:40] CharlesGaydon commented on #438
This is fixed now. Thanks, closing the issue :)

[2021-11-02 16:40] #438 closed

[2021-11-02 17:48] austin-kodra commented on #438
Thanks @CharlesGaydon -- just found out this was fixed myself, but thank you for closing :)

[2021-11-05 08:05] eyalho opened #443 "Add more option to insert any type of hyperparameters as Legend Keys when creating a panel"
Already exists!
Just need to add as column first by ``` Customize Columns```

![image](https://user-images.githubusercontent.com/53655596/140481812-a8d357cc-ad42-4b0b-90c6-74ad9efe5bb8.png)

[2021-11-05 08:35] #443 closed

[2021-11-10 02:31] G-B-Y opened #444 "Hi, I’m using comel-ml in docker container. The container is connected to the Internet, but it can’t upload and receive the response."
Hi, I’m using comel-ml in docker container. The container is connected to the Internet, but it can’t upload and receive the response.
The container has connected to the internet, but it can't upload the data.
I can ping www.google.com.
And in windows, the data can be uploaded, but in container can't.
Ubuntu16.04, Python3.7, PyTorch1.6, cuda10.1, cudnn7, comet-ml3.21.0.
![image](https://user-images

[2021-11-10 09:33] kretes opened #445 "Allow to configure time The Python SDK has before aborting"
## Is your feature request related to a problem? Please describe.
Using python lib for comet we want to configure the timeout of sending all dangling events.
Currently at the end we see `COMET INFO: The Python SDK has 3600 seconds to finish before aborting...`
Since in some cases - the process hangs and never finishes - we would like to be able to configure the 3600 seconds to a smaller value for

[2021-11-10 22:35] lemairecarl commented on #437
Bug also present in Panels:

![Screenshot from 2021-11-10 17-33-29](https://user-images.githubusercontent.com/13444373/141204741-e45ecdfe-5505-455c-8639-99c246428fe4.png)

[2021-11-10 22:42] DN6 commented on #444
Hello @G-B-Y. Could you ssh into your container and run the following command, and share the output with me?

[code]

[2021-11-11 00:44] G-B-Y commented on #444
Hi @DN6, thank you for answer. Here is the output. The result is unsatisfactory, but I don't know why it is.
![comet-error_页面_1](https://user-images.githubusercontent.com/73832808/141216169-2ac5fa3e-8ec6-4ea3-b2d5-114862eedd8f.jpg)
![comet-error_页面_2](https://user-images.githubusercontent.com/73832808/141216230-37685c5e-1214-4f9c-84e3-d2b5500aa8dd.jpg)
![comet-error_页面_3](https://user-images.githu

[2021-11-11 00:58] G-B-Y commented on #444
Hi @DN6, thank you for answer. Here is the result.
![comet-error_页面_1](https://user-images.githubusercontent.com/73832808/141217747-139082db-cfda-4387-9ed0-043e84c50bdb.jpg)
![comet-error_页面_2](https://user-images.githubusercontent.com/73832808/141217759-b49be025-7fbd-4cea-a376-dd46930472b1.jpg)
![comet-error_页面_3](https://user-images.githubusercontent.com/73832808/141217783-d9a68fc4-1e8a-4bd2-acc

[2021-11-11 01:09] G-B-Y commented on #444
In container it still stucks, and can't be uploaded.
![image](https://user-images.githubusercontent.com/73832808/141218789-cf75c384-a124-4f6e-8b99-6ffd43a1f972.png)

[2021-11-11 03:13] G-B-Y commented on #444
`COMET INFO:   Uploads:
COMET INFO:     environment details : 1
COMET INFO:     filename            : 1
COMET INFO:     installed packages  : 1
COMET INFO:     model graph         : 1
COMET INFO:     os packages         : 1
COMET INFO:     source_code         : 2 (13.91 KB)
COMET INFO: ---------------------------
COMET ERROR: Error sending a notification, make sure you have opted-in for notificati

[2021-11-11 03:14] G-B-Y commented on #444
[COMET INFO:   Uploads:
COMET INFO:     environment details : 1
COMET INFO:     filename            : 1
COMET INFO:     installed packages  : 1
COMET INFO:     model graph         : 1
COMET INFO:     os packages         : 1
COMET INFO:     source_code         : 2 (13.91 KB)
COMET INFO: ---------------------------
COMET ERROR: Error sending a notification, make sure you have opted-in for notificati

[2021-11-11 03:14] G-B-Y commented on #444
COMET INFO:   Uploads:
COMET INFO:     environment details : 1
COMET INFO:     filename            : 1
COMET INFO:     installed packages  : 1
COMET INFO:     model graph         : 1
COMET INFO:     os packages         : 1
COMET INFO:     source_code         : 2 (13.91 KB)
COMET INFO: ---------------------------
COMET ERROR: Error sending a notification, make sure you have opted-in for notificatio

[2021-11-11 20:01] DN6 commented on #445
Thank you for the suggestion @kretes. I will loop in the SDK team to consider this option and get back to you.

[2021-11-12 01:01] ianpegg-bc opened #446 "Memory leak when Logging 3d histogram PyTorch tensor on GPU"
## Describe the Bug
The application runs out of memory and is killed attempting to `log_histogram_3d` with a Pytorch tensor on the GPU.

## Expected behavior
Either of the following behaviors would be acceptable:
- comet automatically converts the tensor to a form it can use
- comet raises an informative exception

## Where is the issue?
- [x] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Inte

[2021-11-12 17:02] DN6 commented on #446
Thanks for catching this @ianpegg-bc. I'll have our engineering team look into this.

[2021-11-12 17:48] DN6 commented on #446
@ianpegg-bc  Following up here. I've created a ticket to for the engineering team to address this. In the mean time, the work around would be move the tensor to CPU before logging it as a histogram, as you have suggested.

[2021-11-12 17:51] DN6 commented on #444
Hi @G-B-Y. It might be that the internet connection on the machine is not stable throughout the duration of the experiment. Could you try using the `OfflineExperiment`?

This means that you would change your experiment creation step from

[code]
to

[code]

This will save the experiment as a zip file to the current working directory in your container. You can then upload this experiment using
[cod

[2021-11-13 11:46] G-B-Y commented on #444
Hi, thank you for answer. I try the way you suggest, but it still can’t work. The result is as followed.
-------------------------------------------------------------------------------------------
***@***.***:/workspace# comet upload ./comet_data/a119e1686f004de688873b4b0268e74d.zip
COMET INFO: Attempting to upload './comet_data/a119e1686f004de688873b4b0268e74d.zip'...
COMET INFO: Starting the upl

[2021-11-14 22:14] #434 closed

[2021-11-15 15:14] arkhan19 opened #447 "How to use Optimizer ID parallelly"
## Before Asking:
- [ ] I have searched the Issue Tracker.
- [+] I have searched the Documentation.

## What is your question related to?
- [+] Comet Python SDK
- [ ] Comet UI
- [] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lightning etc.)

## What is your question?
How to use Optimizer ID parallelly in several execution, so that i can finish all experiments quickly.

## Code
[co

[2021-11-15 16:59] dsblank commented on #447
Note also the documentation: https://www.comet.ml/docs/command-line/#comet-optimize

[2021-11-15 18:18] DN6 commented on #447
Hello @f3n1Xx. Could you take a look at the docs page that @dsblank has shared here to see if it answers your question on parallelized execution of the Optimizer?

[2021-11-17 16:35] DN6 commented on #445
Hello @kretes. I believe that you can configure this timeout by setting the `COMET_TIMEOUT_CLEANING` environment variable.

[code]

[2021-11-17 16:37] DN6 commented on #444
Hello @G-B-Y. Sorry that did not work for you. Could you try saving the resulting offline experiment zip file directly on your machine, instead of inside the container? And try uploading from your machine?

[2021-11-18 00:38] G-B-Y commented on #444
Hello, thank you for answer. I will try the way that you suggest, but it isn’t flexible any more.😢

从 Windows 版邮件发送

发件人: Dhruv Nair
发送时间: 2021年11月18日 0:37
收件人: comet-ml/issue-tracking
抄送: G-B-Y; Mention
主题: Re: [comet-ml/issue-tracking] Hi, I’m using comel-ml in docker container. The container is connected to the Internet, but it can’t upload and receive the response. (Issue #444)

Hello @G-B-Y.

[2021-11-19 08:20] G-B-Y commented on #444
Hi, there is a question that may be important: could IP-“172.17.0.3” case the upload error?

从 Windows 版邮件发送

发件人: Dhruv Nair
发送时间: 2021年11月18日 0:37
收件人: comet-ml/issue-tracking
抄送: G-B-Y; Mention
主题: Re: [comet-ml/issue-tracking] Hi, I’m using comel-ml in docker container. The container is connected to the Internet, but it can’t upload and receive the response. (Issue #444)

Hello @G-B-Y. Sorry t

[2021-11-19 09:02] kretes commented on #445
Thanks! that works (at least to the point that I see this value in logs).
I understand this should be specified in seconds?

The whole reason around this is that we observe hanging of our training process sometimes, and we would like to ensure comet will not wait long before exiting in any case

[2021-11-19 16:47] lemairecarl commented on #420
This is annoying.

[2021-11-22 15:34] DN6 commented on #444
Hi @G-B-Y. Were you able to upload the zip file from outside the container? I believe the IP you are referring to is one that is assigned to the containers on your machine's subnetwork.

[2021-11-23 03:45] G-B-Y commented on #444
Hi, thank you for answer. I’m sorry that the docker outside the container still can’t upload. The container’s image is “1.9.0-cuda11.1-cudnn8-devel”.

从 Windows 版邮件发送

发件人: Dhruv Nair
发送时间: 2021年11月22日 23:34
收件人: comet-ml/issue-tracking
抄送: G-B-Y; Mention
主题: Re: [comet-ml/issue-tracking] Hi, I’m using comel-ml in docker container. The container is connected to the Internet, but it can’t upload an

[2021-11-24 20:06] lemairecarl opened #448 "HiPlot panel does not show anything"
## Describe the Bug
The HiPlot panel does not show any experiment. I'm also wondering why it says there are 169 filters, but none are in the list (see screenshot below)

## Expected behavior
A parallel coordinates plot should appear.
Also, there should be some documentation about how to specify the target metric and the other metrics to display. The panel's code does not make it clear.

## Where i

[2021-11-24 20:11] lemairecarl commented on #448
I just noticed that the number on the Filters tab is the number of experiments in the result of the filtering.
In the image above there is a filter applied, but there are still many experiments. Removing the filter does not help.

[2021-11-24 20:52] DN6 commented on #445
@kretes Yes the time specified is in seconds. I'm going to close this ticket, since the solution seems to be working for you 👍🏽

[2021-11-24 20:52] #445 closed

[2021-11-24 21:29] DN6 commented on #444
Hi @G-B-Y. To clarify, you saved the zip file from the Offline Experiment outside the container on to your windows machine and then tried uploading it to Comet by running the following command outside the container on your windows machine?

[code]

[2021-11-24 22:07] lemairecarl opened #449 "Using a parameter as Y axis in scatter plot"
## Describe the Bug
When trying to use a parameter as Y axis in scatter plot, it wrongly says "No data available for this chart"

## Expected behavior
I want to do a scatter plot with the HPO trial number as X, and weight_decay as Y. Both are parameters, not metrics. This would be useful in an Hyperparameter Optimization context.

## Where is the issue?
- [ ] Comet Python SDK
- [x] Comet UI
- [ ]

[2021-11-25 13:03] G-B-Y commented on #444
Sorry for ambiguous expression. The container is the sub environment of the host. The host system is Ubuntu LTX 16.04.7, the container is image of "pytorch/pytorch:1.9.0-cuda11.1-cudnn8-devel", and there is no windows machine.

[2021-11-29 18:41] DN6 commented on #449
@lemairecarl Would it be possible to make your project public so that I can try reproducing this issue on my end?

[2021-11-30 04:15] DN6 commented on #448
Hello @lemairecarl. I will take a look into this. Would it be possible to make your project public so that I can reproduce the issue?

[2021-11-30 04:18] DN6 commented on #448
Just following up here, would the built in Parallel Coordinates Chart work for your use case?

[2021-12-03 22:31] nsriniva03 opened #450 "Hyperparmeters are not being logged at times when using with distributed pytorch"
## Describe the Bug

Hello, I am using comet.ml with  distributed pytorch. When the program is executed the model is initialized on N GPUs and comet.ml starts the corresponding N experiments. However, comet.ml is logging the hyperparameters only on some of the GPUs/experiments and not on all. Why would this happen and what does it mean?

## Expected behavior
I would expect the hyperparameters to b

[2021-12-03 22:42] dsblank commented on #450
Do they eventually show up after the experiment has finished running?

[2021-12-03 22:46] nsriniva03 commented on #450
Since I am not sure about it. I always kill the program and restart it. I do this till all the parameters are visible on all the experiments. But I could let it run and get back to you about it

[2021-12-03 22:54] dsblank commented on #450
Some things don't log until the end, so it isn't a good idea to kill an experiment. If at all possible, the experiment should run until completion. If you want, you can call experiment.end() manually in your code.

[2021-12-06 14:57] nsriniva03 commented on #450
Hi Douglas,

The parameters are not showing up after the experiment has finished running.

appalling_aracde has not logged any parameters.
![Screen Shot 2021-12-06 at 8 56 27 AM](https://user-images.githubusercontent.com/83607477/144868361-0765fd90-69df-4c36-88e6-5abbb0f6ed49.png)
![Screen Shot 2021-12-06 at 8 57 19 AM](https://user-images.githubusercontent.com/83607477/144868486-717ee4a7-2580-482

[2021-12-06 20:07] dsblank commented on #450
Some additional questions:

1. The hyperparameters never did show up (even after a browser refresh)? Sometimes the server takes a few minutes to process everything.
2. All of these really ran for 44 hours, 3 minutes, and 30-some seconds? I don't think I've ever seen such consistency across computers for that long. Are they reporting a lot of data over that time, or all at once? An experiment could

[2021-12-11 14:19] eiphy opened #451 "How to properly set trials for the comet optimizer?"
## Before Asking:
- [x] I have searched the Issue Tracker.
- [x] I have searched the Documentation.

## What is your question related to?
- [x] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lightning etc.)

## What is your question?
I want to know how to properly set the trials parameters for the comet optimizer. My current attempts resulting in

[2021-12-11 16:18] dsblank commented on #451
@eiphy Yes, when using the "bayes" algorithm, it uses the evidence from logged the metric to determine next possible combinations. But if bayes determines it has already given all of the best guesses, then it can't generate any additional combos.

I tried "grid" with your config, and need indeed get different seed values. Here is another way to test the optimizer, without having to create experime

[2021-12-11 17:05] eiphy commented on #451
@dsblank
Thank you for the reply! The code is quite useful for debugging.

I'm not clear why the bayes algorithm determines the first parameter set is the best guess, as it literately tried only one combination. In addition, when I set the trials to 1, it runs correctly and gives 20 combinations.

It is actually 4 * 5 * 5. It seems that seeds [1, 5) and x [1, 5]. I wonder why they have different r

[2021-12-12 16:28] dsblank commented on #451
Hmmm... interesting! Yes, I think you have uncovered a couple of issues. We'll add those to our list and get back to you. Thank you for the detailed analysis!

[2021-12-13 15:14] ivan94fi opened #452 "Run args not correctly logged in hyperparameters view"
## Describe the Bug
The command line arguments passed to the python script are sometimes not correctly logged as `run_arg_<number>`, but are just logged as hyperparameters. In my tests, adding a long option causes this bug, but this might be coincidental.

The experiment constructor is called like this:
[code]
and the parameters are logged like so:
[code]
The cli arguments of interest are: `-w 12

[2021-12-13 15:30] DN6 commented on #452
Thanks for raising this @ivan94fi and providing so much context. Let me take a look at what's going on here. I will get back to you as soon as possible.

[2021-12-13 15:41] ivan94fi commented on #452
Thank you @DN6 for the quick reply. I updated the bug report with a script to reproduce the bug. Hope it helps.

[2021-12-13 22:02] lemairecarl commented on #449
Sorry, it's now public.

For example, you can try creating a scatter plot using X="optuna_trial" and Y="log_wd".

Thanks.

[2021-12-13 22:06] lemairecarl commented on #448
The project is now public, sorry about that.

The built in Parallel Coordinates Chart has multiple problems. Two of them come to mind: (1) It's not possible to get a sense of how many lines go from a specific point to another specific point. (2) There is no interactivity.
Hiplot seems to be better on these points. Interactivity seems to make it more useful.

[2021-12-14 16:10] dsblank commented on #451
FYI, these issues are being tracked as CM-1900.

[2021-12-14 18:01] DN6 commented on #452
Hello @ivan94fi . I was able to reproduce your issue. I believe boolean flags and subparsers can cause issues with our autologger's command line parser.

Another thing I noticed is that you are logging the parsed args with `experiment.log_parameter` but you have not disabled the autologger's command line parser. Can you update your Experiment object with the following configuration and try rerunni

[2021-12-15 16:19] DN6 commented on #449
Hi @lemairecarl. I was able to reproduce your issue. Indeed, this looks like a bug. Thank you for catching it. I will notify the engineering team and update you here when the issue is resolved.

[2021-12-15 18:25] DN6 commented on #452
Hi @ivan94fi. Just so I understand your use case correctly. You would like to log the parsed args, and also log the run args as separate parameters in order to track which args were modified at runtime?

[2021-12-16 08:24] ivan94fi commented on #452
Hi @DN6.

Yes, these are correct. As a matter of fact I just want the arguments string (`sys.argv`) to be logged somewhere, and as Comet itself logged that in the Hyperparameters section, I just sticked with this convention, which seems reasonable.

The rationale behind this use case is what you mentioned: I want to be able to see all the hyperparameters, and also which parameter is changed at run

[2021-12-22 18:57] lemairecarl commented on #448
Ah! Thanks for the info. It makes sense that the panel would work with Comet Optimizer. However it would have been nice to document somewhere that it works exclusively with it.

It's very nice of you to offer to work on supporting Optuna! I would indeed like to try HiPlot with my Optuna experiments.
Thanks!

[2021-12-22 19:09] lemairecarl opened #453 "Chart tooltips in diff should show experiment names instead of id"
## Describe the Bug
Since in the diff page (and pretty much everywhere in the new UI) we identify the experiments by their name, instead of ID, the chart tooltips in diff mode should be consistent with that.

What I see now:

[code]

Also note that the parentheses are doubled, and asymmetric; which drives me crazy. ;)

## Expected behavior

The tooltips should look like this:

[code]

## Where is

[2021-12-23 04:22] dsblank commented on #448
FYI, there are also some notes here on running a 3rd-party optimizer with Comet tools: https://www.comet.ml/docs/python-sdk/other-optimizers/

[2021-12-23 15:34] lemairecarl commented on #448
Thanks @dsblank , that's helpful! By looking at that page, and the code of the HiPlot panel, I discovered that I needed to set the following 3 keys in the "Other" section (`experiment.log_other`, hyperparameters don't work): `optimizer_metric`, `optimizer_metric_value`, `optimizer_parameters`.

Now the HiPlot panel works! I'll work with that for now.

[2021-12-23 15:34] #448 closed

[2021-12-23 15:40] lemairecarl commented on #448
I closed the issue since the main problem is solved (now I can use HiPlot), however it would still be appreciated if the panel could be improved to help working with other optimizers. A simple thing would be to add some documentation on which keys need to be set in the experiment for the panel to work. A more complicated thing would be to add some configuration to enable using experiments that did

[2022-01-05 21:46] Borda opened #454 "Proposal: Lightning ecosystem CI"
Hello and Happy New Year 2022! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-ecosystem-ci-b7e1cf78a6c7

[2022-01-06 16:30] DN6 commented on #454
Hello @Borda a Happy New Year to you too! Thank you for reaching out. This sounds like a great idea! I will coordinate with our team to see when we might be able to get this work done and get back to you here.

[2022-01-06 18:22] DN6 commented on #453
Thanks for flagging this @lemairecarl. I've raised the issue with our engineering team. I will update you when a fix is pushed.

[2022-01-11 13:29] mwup opened #455 "Python: 'GPULoggingThread' object and 'CPULoggingThread' has no attribute 'isAlive'"
## Describe the Bug
Hello :)

I recently got the following error:
'GPULoggingThread' object has no attribute 'isAlive'
and
'CPULoggingThread' object has no attribute 'isAlive'.
I read on another thread: https://github.com/jupyter-vim/jupyter-vim/issues/51, that "isAlive()" is deprecated and "is_alive()" is being used.

I changed the relevant lines (458 and 473) from the comet_ml/experiment.py file

[2022-01-11 14:32] DN6 commented on #455
Hello @mwup. Thanks for flagging this. Looks like a change from Python 3.8 to 3.9 might be causing the issue. I will bring this to our engineering team's attention.

[2022-01-11 14:33] DN6 commented on #455
Would it be possible to run your experiment using Python 3.8? That should solve your issue until we can formally resolve this.

[2022-01-11 15:10] #455 closed

[2022-01-11 15:29] Lothiraldan commented on #455
Hello @mwup, the Comet Python SDK is fully compatible with Python 3.9. Could you check which version you are using? You can find this information with the following command: `conda list | grep comet`. You can also try to update your comet_ml version.

Let us know if you have any follow-up question.

[2022-01-18 14:55] CharlesGaydon commented on #405
To me this is a similar feature request to https://github.com/comet-ml/issue-tracking/issues/218.
Has this really been implemented?
Right now we would need to hack into the logging in order to order experiments by max metric or min loss.

[2022-01-19 02:53] rgaiacs opened #456 "comet.ml can NOT be reached"
## Describe the Bug

Since 18th January 2021, I'm unable to connect to https://www.comet.ml/ from my work place but I can connect from home. The IT department where I work pointed me to https://github.com/comet-ml/issue-tracking/issues/113. I can connect successfully to https://www.comet-ml.com/.

Are you experiencing issues with the comet.ml domain again?

## Expected behavior

https://www.comet.

[2022-01-19 13:47] CharlesGaydon commented on #437
Is there any news on this visualization bug? I have the same issue since the new view and expected it to be corrected by now :octopus:

[2022-01-19 18:24] DN6 commented on #456
Hi @rgaiacs. This is being caused by an issue with Google's DNS servers. The .ml name servers are being a little bit flakey. The issue should resolve itself and we’re also working on a long term fix. In the meantime you can add the following workaround to your code:

[code]
Sorry for the inconvenience. We have raised the issue with Google as well.

If you’re also experiencing challenges accessing

[2022-01-21 05:48] rgaiacs commented on #456
@DN6 Thanks! https://www.comet.ml is working again from my working machine. I love your product. I'm closing this issue.

[2022-01-21 05:48] #456 closed

[2022-01-27 12:05] kretes opened #457 "auto_histogram_gradient_logging on tensorflow datasets"
## Is your feature request related to a problem? Please describe.
Currently (comet 3.23.1) when I specify `auto_histogram_gradient_logging=True` and/or `auto_histogram_gradient_logging` when using comet with keras, and using a tf.dataset I see in logs:
[code]

## Describe the solution you'd like
1. This limitation should be clearly stated in the docs https://www.comet.ml/docs/python-sdk/keras/
2.

[2022-02-01 10:30] florianblume opened #458 "[Bug] Panels don't scale appropriately when resizing"
## Describe the Bug
When adding a panel and then changing its size it doesn't always scale appropriately but for example covers only the leftmost part when scaling to the right, like this for example:

![Screenshot from 2022-02-01 11-26-32](https://user-images.githubusercontent.com/2170192/151952276-258d98a6-ca7c-420f-aba9-53ccc45efca7.png)

When clicking on edit and closing the edit view again, t

[2022-02-01 12:23] florianblume opened #459 "[Bug] Panel saving takes longer with every save until nearly freezing"
## Describe the Bug
Editing a panel and saving it increases the time to save it. At some point the editor becomes unusable. Maybe this has something to do with the history of the panel.

## Expected behavior
Saving should take a second at most.

## Where is the issue?
- [ ] Comet Python SDK
- [X] Comet Javascript SDK
- [X] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch

[2022-02-01 13:38] florianblume commented on #459
Apparently reloading the browser helps temporarily until it becomes laggy again.

[2022-02-01 14:07] florianblume commented on #459
So this workaround only works in some cases and often the panels cannot be added to the panels view and the browser just crashes.

[2022-02-02 12:58] DN6 commented on #458
Thanks for reporting this @florianblume. I was able to reproduce your issue. Indeed this looks like a big. I'll let the the team know about the behavior and post an update here when a fix has been pushed.

[2022-02-03 16:56] skim2257 commented on #165
bump, would love this feature as well.

[2022-02-03 21:41] DN6 commented on #457
Hello @kretes. Thank you for catching this. Would you be able to share a code snippet for how you're logging your gradients and activations with `tf.dataset`?

[2022-02-03 21:43] DN6 commented on #459
Hello @florianblume. Taking a look into this now. I'll update you if I'm able to reproduce the issue.

[2022-02-05 01:08] nsriniva03 opened #460 "How does comet perform auto_metric_logging? For example, it automatically logs the loss at every training step. Does it extract the necessary metrics from the computational graph constructed in pytorch?"
## Before Asking:
- [ ] I have searched the Issue Tracker.
- [ ] I have searched the Documentation.

## What is your question related to?
- [x] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lightning etc.)

## What is your question?

## Code
[code]

## What have you tried?

[2022-02-07 14:25] nsriniva03 opened #461 "local rank 0 logging random values of loss when used auto_metric_logging is set to true ?"
## Describe the Bug
While logging the loss metric comet_ml logs random values for local rank 0 and the right value of loss for other ranks. Look at the graphs below logged by comet_ml.

For rank 0:

<img width="1120" alt="Screen Shot 2022-02-07 at 8 22 06 AM" src="https://user-images.githubusercontent.com/83607477/152806077-19cdbd07-d6d7-4c1c-b44e-7bbe6445ce23.png">

For rank 1:
<img width="1130"

[2022-02-07 14:45] DN6 commented on #461
Hello @nsriniva03. Looking into this. Just to confirm, are you running distributed training with Comet?

Would it be possible to share the code used to run these experiments? It would help our team have more context around what could be happening.

[2022-02-07 15:26] nsriniva03 commented on #461
@DN6 , I can't share the code but I could put together a skeletal code that highlights the main steps.

[2022-02-07 18:36] DN6 commented on #461
Thank you! That would be very helpful. Additionally, are you using data parallel training? If so, is your data being distributed the same way across your training nodes? Or is it being shuffled and batches are randomly assigned to nodes across runs?

[2022-02-07 23:33] nsriniva03 commented on #461
yes, I am using distributed data parallel for training. I am using the distributed data sampler in pytorch  to handle data distribution across ranks. It loads a subset of the data to each rank that is exclusive to it.

[2022-02-09 07:49] DN6 commented on #461
Understood.

Would it be possible to run your experiment again and send the data that is currently being sent to rank 0 to another rank to see if the same behavior occurs in this rank?

[2022-02-09 13:59] nsriniva03 commented on #461
@DN6 , This will take sometime as currently I have a large experiment running. But I will keep you posted.

[2022-02-10 12:46] DN6 commented on #461
Got it. Would it be possible to take a look at the data being sent to rank 0 to see if there is anything unusual about it? Also if you can share a skeletal version of your code I can try to replicate the issue.

[2022-02-14 04:25] rgaiacs opened #462 "OfflineExperiment does NOT record Git metadata"
## Describe the Bug

When I use `OfflineExperiment` instead of `Experiment`, Comet does **not** record Git metadata.

## Expected behavior

`OfflineExperiment` record Git metadata like `Experiment`.

## Where is the issue?
- [X] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lighting etc)

## To Reproduce

Use

[code]

## Link to Comet Project/Ex

[2022-02-15 14:08] DN6 commented on #462
Hello @rgaiacs. Thanks for flagging.  I Will try to reproduce this and update you here.

[2022-02-21 13:15] DN6 commented on #462
Hi @rgaiacs. I was unable to reproduce this issue. Would you be able to share a test code snippet to reproduce the issue? Additionally, when running the snippet, could you set Comet to debug mode?

You will need to set the following environment variables before running your script.

[code]

[2022-02-22 00:50] rgaiacs commented on #462
Dear @DN6. Thanks for the help. I will work to get you with a debug log file in the coming days.

[2022-02-23 17:50] DeepOzean opened #463 "Save log data on disk in addition to online logging"
Dear Comet ML Team,

Thank you for offering such a great product. I am using it daily for my research and recommended it to my colleagues.

I am working on a cluster. Sometimes the internet gets disconnected for whatever reason. In this case it would be great to have a backup of the data while disconnected, instead of losing it completely. When trying to do a workaround by running online and offli

[2022-02-24 14:42] DN6 commented on #463
Thank for the kind words @DeepOzean. Currently, we do not support running `OfflineExperiment` and `Experiment` simultaneously.

You can upload the experiment data to the Comet UI once the run is completed using

[code]
This way, the experiment will be present locally, as well as in the Comet UI.

Also, we do have an integration with Pytorch Lightning! Here is the documentation to help you get star

[2022-02-25 10:06] kretes commented on #457
I'm not doing it at the moment. I just assumed that one can do sth like (psuedocode) `inputs, targets = zip(*ds.take(10))`
and pass this to `Experiment`, but I don't see any parameters like this in https://www.comet.ml/docs/python-sdk/Experiment/#experiment
So this more a question of how should this be done ;]

[2022-02-25 16:03] florianblume commented on #69
Any news on the possibility to manually delete images from the experiment on the website? Or deleting them through Python?

[2022-03-03 10:14] DeepOzean commented on #463
Hi Dhruv, is there an update on the workaround? Thanks again for your time!

[2022-03-09 21:13] phosseini opened #464 "Can't change chart color in an experiment"
## Describe the Bug
By default, there is a color chosen for charts in an experiment. I simply want to change the color of the charts but for some reason, the color does not change. For example, when I go to an experiment, I select `"Change colors,"` then I select the `"Single Color Per Experiment,"` then after choosing a new/different color I click `"Done"`. Even though the color in the "Select Co

[2022-03-11 10:21] DN6 commented on #464
Hello @phosseini. Thank you for flagging this. I was able to reproduce this issue and I've raised a ticket with our engineering team. I will update you here when this is resolved.

[2022-03-21 18:01] mova opened #465 "Cannot log hyperparameter if it looks like a number in scientific notation"
## Where is the issue?
- [x] Comet Python SDK
- [x] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lighting etc)

## To Reproduce
Steps to reproduce the behavior:
1. `api_exp.log_parameters({'hash': '80e5005'})`
2. Experiments > 'hash' filled is blank for this experiment, other hashes work
3. If I get the experiment via `comet_ml.API(...).get(...)`, then the `exp.get_p

[2022-03-22 14:37] mova commented on #465
Oh, sorry, I accidentally archived it.
https://www.comet.ml/mscham/normal/932caccd927a4073b60a27aaa356b346
or:
https://www.comet.ml/mscham/normal/10a59adb6b7a4fbdbdf4d0e9d9e1164f

[2022-03-24 17:02] DN6 commented on #465
Thank you @mova! I was able to reproduce the issue. Let me check with our team to see what might be happening. I will update you here when we have a resolution.

[2022-03-25 11:04] DN6 commented on #458
Hi @florianblume. We just pushed a fix for this issue. Plotly Panels should resize automatically now.

[2022-03-25 11:33] florianblume commented on #458
Cool, will check it out!

[2022-03-27 23:51] saidwivedi opened #466 "Failed to check backend version - Run will not be logged"
## Describe the Bug
I am using Comet (3.28.0) with Pytorch Lightning (1.5,1). in Miniconda environment While submitting a job in cluster (which has internet access), the run does not get logged. It shows the following error. This happens randomly.
`COMET WARNING: Failed to check backend version at URL: 'https://www.comet-ml.com/clientlib/isAlive/ver'
COMET ERROR: Run will not be logged`

## Expect

[2022-03-28 13:38] DN6 commented on #465
@mova Would it be possible to increase the character length of your hash strings so that they do not look like scientific notation?  This could be a quick way to unblock you with the issue

[2022-03-28 13:40] DN6 commented on #466
Hello @saidwivedi. Could you run the following command on your machine and attach the resulting log file here please?

[code]

[2022-03-28 14:39] saidwivedi commented on #466
Below is the dump with `comet check --debug`
[code]

[2022-03-28 14:51] mova commented on #465
Hey,
if I'm understanding correctly that would  only make it less likely to happen, since `80098765347887667e5005786546` is still valid python. If possible, the datatype of parameters/metrics could be recorded to exclude such errors in the future.
For my personal project, i have changed the way the hash is calculated to avoid the issue for now.

[2022-03-31 13:25] saidwivedi commented on #466
No I am not uploading any files as asset. I am using Pytorch Lightning (1.51.1) which logs standard loss metrics by calling `log_metrics` internally and use `log_histogram_3d` explicitly in the code.

More details - `COMET ERROR: File-like could not be uploaded` occurs at random time in different experiment. Once it hits the error, the experiment doesn't log anything after some time even though I

[2022-04-04 20:03] george-gca opened #467 "Doc Improvement: log metadata"
## Is your feature request related to a problem? Please describe.
A lot of logging functions in comet also support logging metada information (e.g. [log_text](https://www.comet.ml/docs/python-sdk/Experiment/#experimentlog_text)).

## Describe the solution you'd like
It would be nice to address what can be done with this metadata, how it is displayed in the comet interface, what can be done with th

[2022-04-05 10:56] DerGodoot opened #468 "Python Panels async main() not executing"
## **Describe the Bug**

The documentation claims, that it's possible to define a main method in the Python Panel code that is only executed when the GUI is updated: [https://www.comet.ml/docs/user-interface/python-panels/overview/#uidropdown](url)
In the given example the main function is never executed.

## Expected behavior
Run the async main function when a ui.dropdown() widget is triggered.

[2022-04-05 12:30] dsblank commented on #468
@DerGodoot Looks like that documentation is out of date. You no longer need to mark main() as async. In fact, the need for any async/await has been removed in latest version. Can you provide an example of what you are trying to do?

[2022-04-05 12:37] DerGodoot commented on #468
I just wanted to build another Panel with grouped metrics, but with Dropdown Functions to choose the metric and the grouping parameters.
Mostly since all current implementation either can't do Standard Deviation or can't aggregate.
With the async removed it works. Thanks!

[2022-04-05 13:05] #468 closed, assigned to nobody

[2022-04-06 04:38] kirillv-cim opened #469 "Adding second metric to line chart with aggregation crashes dashboard"
## Describe the Bug
In Comet UI, when using a line chart to plot a single metric with grouping enabled (mean aggregation, Std Dev range; see photo 1), adding a second metric in the y-axis immediately crashes the dashboard (see photo 2).

## Expected behavior
No crash

## Where is the issue?
- [ ] Comet Python SDK
- [X] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lig

[2022-04-06 17:24] florianblume opened #470 "Add more info to Comet-ML experiment creation from MLflow autolog"
## Describe the Bug
It's not directly a bug but it has been driving me nuts for 2 days. Comet-ML automatically creates an experiment when you call `mlflow.start_run` and `comet.disable_auto_logging` has not been set to true. The only information about this automatically created experiment I get is `Created by MLflow autologger`, not very informative, especially since it's not really the MLflow aut

[2022-04-07 22:26] kirillv-cim commented on #469
Tried first adding multiple metrics, then enabling grouping. Mean aggregation worked fine, but enabling Std Dev range caused the crash.

[2022-04-08 13:04] shirelattia19 commented on #455
Hi I have the same problem already , what should i do ?

[2022-04-08 15:20] Lothiraldan commented on #455
Hi @shirelattia19, which Python version and comet version are you using?

[2022-04-10 06:44] shirelattia19 commented on #455
Hi @Lothiraldan
python                    3.9.7                h12debd9_1
comet_ml                  3.1.6                      py_0    comet_ml

[2022-04-11 05:31] #466 closed

[2022-04-11 12:48] DN6 commented on #467
Duly noted @george-gca! Thank you for the suggestion. We will work towards adding more context to these methods in our docs

[2022-04-11 20:15] george-gca opened #471 "`log_image` uploading images with the same name"
## Describe the Bug
I am uploading multiple images from my code during the eval phase, but sometimes it handles the same image in another iteration. Since it is the same image, and I set the parameter `overwrite` on [log_image](https://www.comet.ml/docs/python-sdk/Experiment/#experimentlog_image) to `False` and I am not associating any `step` to it, I figured that it wouldn't upload the same image

[2022-04-12 13:50] DN6 commented on #471
Hi @george-gca. Would you be able to tell me what you mean by handling the same image in another iteration? Is there a specific reason you have set `overwrite=False`

[2022-04-12 14:40] george-gca commented on #471
@DN6 sure. Currently I am working with [visual question answering](https://visualqa.org/), so basically there is an image, and a text question associated with it. I'd like to log to comet the image, question, and resulting answer.

The problem is, sometimes I can have multiple questions associated with the same image, so I end up uploading the same image over and over. I thought that the `overwrit

[2022-04-13 07:59] florianblume commented on #470
Hi @DN6,

sure thanks for getting back to me! It's a bit too complicated I guess to put the code here. What I essentially do is use a combination of Pytorch Lightning, MLflow and CometML. I run experiments with `mlflow run` using my own modified version of MLflow (that doesn't start a new experiment when running this command). Then, Pytorch Lightning instantiates the MLflow logger for local loggin

[2022-04-13 14:09] OhadRubin opened #472 "On Pytorch Lightning: RichProgressBar doesn't display progress bar when using Comet logger"
See [here](https://github.com/PyTorchLightning/pytorch-lightning/issues/11043)

[2022-04-14 19:56] george-gca opened #473 "Get experiment logged texts and metadata in custom panel"
## Before Asking:
- [X] I have searched the Issue Tracker.
- [X] I have searched the Documentation.

## What is your question related to?
- [  ] Comet Python SDK
- [X] Comet UI
- [  ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lightning etc.)

## What is your question?
Is there any way that I can get all my experiment's logged texts, along with its metadata, when creating a custo

[2022-04-25 13:25] DN6 commented on #470
Understood. We will look into how we can provide more context for this behavior.

[2022-04-25 13:26] DN6 commented on #469
Hi @kirillv-cim I was able to reproduce this issue. I've raised a ticket with our engineering team to look into this. I will update you when we have a fix ready.

[2022-04-25 14:54] DN6 commented on #473
Hello @george-gca. Are you trying to use Python or JS Panels to visualize your data?

[2022-04-25 18:18] kirillv-cim commented on #469
Hi @DN6 , many thanks for the update!

[2022-04-28 20:30] rabyj commented on #397
Would also appreciate greatly, any update? (or dark reader that works with the website)

[2022-04-29 15:23] weiji14 opened #474 "Comet-ml logging environment variables set in conda virtual environment"
## Describe the Bug

As of `comet-ml` version 3.27.0 released 24 Feb 2022 (https://www.comet.ml/docs/python-sdk/releases/#release-3270), conda packages, channels and **configurations** are logged as Experiment assets. Understandably, this is to ensure reproducibility of the software environment, but I was surprised to see that sensitive API tokens were uploaded as well. I've had to revoke/refresh

[2022-05-01 04:50] george-gca commented on #473
JS Panels, but only because python panels currently don't support plotly.

[2022-05-04 19:32] DN6 commented on #473
Hi @george-gca. Metadata is accessible in the logged asset. Here is a short snippet of an example panel that fetches the text assets from an experiment and returns a list of dictionaries containing the text and metadata. Hope this helps.

[code]

[2022-05-04 20:04] DN6 commented on #474
Thank you for bringing this to our attention @weiji14. I will check with the SDK team to see how we can avoid logging sensitive information in these `yml` files.

[2022-05-30 14:29] florianblume opened #475 "Functionality to delete images, artifacts, ... from experiments"
## Is your feature request related to a problem? Please describe.
I'd like to be able to delete individual images, artifacts, etc. from experiments either using the UI or through the Python API. Both together would of course be best ;)

For example: I log model weights during training regularly but name them after epoch and loss to be able to recall which checkpoint that was. The experiment thus g

[2022-06-03 10:35] florianblume commented on #475
Ah thanks a lot! It didn't occur to me to look there because deleting projects and experiments is done on the main API but it makes sense that this is functionality of the Experiment API. Thanks again!

[2022-06-03 22:55] george-gca commented on #473
@DN6 I believe there is a bug regarding the returning `textContent` from `experimentAssetByName` function. It is returning always the same content from the 1st text data, despite all other information coming as it should. Basically I took your code and added a few `console.log`.

[code]

The result for the first text data comes as:
[code]

which is correct, but then for the 2nd text comes as:
[cod

[2022-06-08 20:04] george-gca opened #476 "Duplicate section in report don't keep panel layout"
## Describe the Bug
When duplicating a section in report, it doesn't keep panel layout the same (keeps the panels, but not its width/height.

## Expected behavior
When duplicating a section, generate a perfect copy of it.

## Where is the issue?
- [ ] Comet Python SDK
- [X] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lighting etc)

## To Reproduce
Steps to reproduce

[2022-06-09 17:28] george-gca opened #477 "Table of Contents (ToC) in Report"
## Is your feature request related to a problem? Please describe.
When a report is big enough, navigating between sections becomes a bit slowly.

## Describe the solution you'd like
It would be nice to see a table of contents somewhere on the report.

## Describe alternatives you've considered
One option would be a Table of Contents in the beginning of the report, maybe like the one in [Gitlab wik

[2022-06-13 08:43] DN6 commented on #476
Hello @george-gca. Indeed this looks like a bug. I'll raise a ticket with the engineering team and update you here when it is resolved 👍🏽

[2022-06-13 08:47] DN6 commented on #477
Noted @george-gca. I will bring this up with our Product team.

[2022-06-15 14:39] IvanOleksiyuk opened #478 "Line chart good in preview but strangely throttled in pannels"
On Mozilla Browser, Linux mint 20 (although the same on windows)
Every time I create a line chart. It look fine in the preview,
![image](https://user-images.githubusercontent.com/78495313/173854649-08849a4d-aa2a-4d47-9ed0-f159ee9ccd92.png)
but in the panels it looks as if most of the points are thrown away.
![image](https://user-images.githubusercontent.com/78495313/173853223-7a916f69-6466-4f7b-a1

[2022-06-15 17:17] 00krishna commented on #318
@drormoran I think this is easier to do through the deep learning libraries themselves. So I have been using Pytorch Lightning nowadays, and you can distribute parameter tuning over several machines using the Ray library. There is a plugin for using Ray with Pytorch Lightning, and it is as easy as just one line of code to train or tune over multiple machines.

[2022-06-21 12:10] DN6 commented on #478
Thanks for reporting @IvanOleksiyuk. I was able to reproduce this issue. I'll bring this up with our engineering team and see if we can come up with a solution for what's happening.

[2022-06-21 14:07] pkhdipraja opened #479 "Bayesian hyperparameter search limited to one instance?"
## Before Asking:
- [x] I have searched the Issue Tracker.
- [x] I have searched the Documentation.

## What is your question related to?
- [ ] Comet Python SDK
- [ ] Comet UI
- [x] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lightning etc.)

## What is your question?
I am trying to run several instances of experiments using Pytorch Lightning and Comet (3.31.4). However, when I tr

[2022-06-28 17:05] DN6 commented on #479
Hello @pkhdipraja. Is it possible to share the rest of the snippet with me? I will try to reproduce the issue on my end. In the mean time could you try rerunning after setting the following environment variables?

[code]

Also, you mentioned that you're trying to run multiple experiments? What is your training setup like? Is it a single machine with multiple GPUs?

[2022-07-01 13:26] mrbraden56 opened #480 "python script does not exit process when script is done running"
## Describe the Bug
I am training a PyTorch model and logging custom experiment metrics. After the code is finished running the script process does not finish. I have to stop the script myself manually and whenever I do that comet ml gives me the error message,

      COMET INFO: Uploading metrics, params, and assets to Comet before program termination (may take several seconds)
      COMET INFO:

[2022-07-04 11:22] DN6 commented on #480
@mrbraden56 Would you be able to share the script you're using to actually start the training run? Also would it be possible to run the script in debug mode. You can do this by setting the following environment variables and rerunning the script
[code]
If you could share the `comet.log` file with me after the script has finished running it would be very helpful.

[2022-07-04 17:16] YannickNagel commented on #479
I got the same error on a system with only one graphics card and only one experiment running. The error only occurs if the experiment runs for a bit. So, my code runs fine, when you train for 10 epochs, but produces this error when you run it for 200 epochs. I have attached my log file here: [comet.zip](https://github.com/comet-ml/issue-tracking/files/9041210/comet.zip)

For me it looks like the e

[2022-07-06 18:04] xwjiang2010 opened #481 "Can you drop dependency on `nvidia-ml-py3`?"
## Describe the Bug
A clear and concise description of what the bug is.

Both `nvidia-ml-py3` and `nvidia-ml` are installing the same  `pynvml.py` module, causing issues with the newest `gpustat` release. Error msg:
[code]

## Expected behavior
A clear and concise description of what you expected to happen.

## Where is the issue?
- [ ] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Integration

[2022-07-07 02:02] mrbraden56 commented on #480
@DN6  Here is where I call the training loop and let me get the comet.log file
[code]

[2022-07-11 10:59] pauliusinc commented on #479
Bump, I got the same problem after 200 epochs.

[2022-07-12 12:53] DN6 commented on #479
Hi all. Working on reproducing this this on my end. Will post an update ASAP.

[2022-07-15 11:45] DN6 commented on #479
Hi @pkhdipraja I noticed that there is an issue with the code you're using to create Experiments in your sweep. The Lightning `CometLogger` already creates an Experiment for you, so you don't have to do that with the Optimizer. Here's an updated snippet. Could you try running it and see if it helps? (This snippet assumes you have set your credentials as environment variables)

[code]

[2022-07-15 11:47] DN6 commented on #479
@YannickNagel @pauliusinc Can you each open new tickets for your issue? I tried running a very long experiment (500 epochs) with the Lightning Logger and I wasn't able to reproduce the error. Could you please include code snippets for what you're trying to do in the issue as well. It would be very helpful for debugging.

[2022-07-15 11:49] DN6 commented on #480
The file should be created in the current working directory and will be called `comet.log`

[2022-07-19 23:47] pcmoritz commented on #481
What is the stance of the comet maintainers on this issue? This is a blocker for adopting comet for anybody who wants to use a recent version of gpustat.

[2022-07-20 00:00] pcmoritz commented on #481
I also linked the related gpustat issue

[2022-07-21 01:24] lemairecarl commented on #437
It's been a while. The legends are useless without colors (they just repeat the metric names that are already in the panel title), so you might as well remove them, as they take up space.

[2022-07-27 11:25] mattip commented on #481
Any news here?

[2022-07-28 16:37] atharvas commented on #471
Also facing this issue while logging images! Happy to provide any logs/code/etc. if needed.

[2022-07-31 22:13] george-gca opened #482 "Legend shows experiment id instead of name when exporting"
## Describe the Bug
When I create a bar chart with builtin panel, set legend to display name, and export it (as png or svg), it is showing experiment id in legend instead of name.

## Expected behavior
Legend of the exported images should display experiment name.

## Where is the issue?
- [ ] Comet Python SDK
- [X] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lightin

[2022-08-02 01:04] george-gca opened #483 "[Feature request] Customize Plotly Mode Bar Icons"
## Is your feature request related to a problem? Please describe.
I was trying to work around #482 then I found out that I can customize the way I can export the plot in Plotly. More specifically, I can [customize the format that the download button will output](https://plotly.com/python/configuration-options/#customizing-modebar-download-plot-button). So I tried to do that.

## Describe the solut

[2022-08-03 15:33] DN6 commented on #482
Hi @george-gca. I was able to reproduce this. I've raised the issue with our engineering team and it has been prioritized.

[2022-08-04 14:36] mattip commented on #481
Hi. Is there an update to this issue?

[2022-08-04 15:48] DN6 commented on #481
Hi all. The dev team has identified the issue and found a viable workaround that will maintain current Comet functionality while fixing this issue. The fix will be released within the next two weeks.

[2022-08-19 14:11] jacques-comet commented on #481
Hi @mattip @xwjiang2010
The latest version of the Comet SDK (version 3.31.9) has dropped the `nvidia-ml-py3` dependency, let me know if you are still running into any issues on the latest version of the SDK

[2022-08-19 14:14] jacques-comet commented on #481
From version 3.31.9 onwards `nvidia-ml-py3` is no longer a dependency of the SDK. Closing this issue as resolved

[2022-08-19 14:14] #481 closed

[2022-08-19 14:36] mattip commented on #481
Thanks!

[2022-08-27 17:13] lemairecarl opened #484 "Metric selection dropdown filter randomly resets"
## Describe the Bug
In the "Add scatter chart to project" window, when typing to filter through metrics and parameters, I type characters and the dropdown updates. However, after I stop typing, after a few seconds the dropdown resets to showing all items, even as I have something in the filter text box. Thus, to be able to use the filtering, I have to react quickly and click right when I see the i

[2022-08-29 00:12] ankit51 opened #485 "ui.display not working with plotly express object"
## Describe the Bug
Logging a plotly express object using ui.display throws an error

## Expected behavior
It should log the plot to the Panels in my experiment

## Where is the issue?
- [ x] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lighting etc)

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
![Screensho

[2022-08-31 12:55] scleronomic opened #486 "Broken Connection for get_asset"
## Describe the Bug
I can only very inconsistently download assets.
The larger the assets are, the more often it fails. Smaller then 0.5Mb works fine most of the time, larger than 5Mb fails 95% of the time.
Right now I am sometimes able to 'solve' this problem by making a loop around the .get_asset call and repeat it until it succeeds.

Manually downloading the file form the website also fails mos

[2022-09-06 12:06] DN6 commented on #485
Hi @ankit51 Are you running `ui.display` in Python Panels Code Editor in the UI?  Or a notebook?

[2022-09-06 14:53] DN6 commented on #486
Hello @scleronomic. Thanks for flagging this. Would it be possible to share the Experiment that you're trying to download the asset from? (can it be made public?)

Also, if you could run your snippet with Comet Debug mode enabled . To run Comet in debug mode, set the following environment variables.  If you can share the resulting `comet.log` file with us, it will help us understand what might be

[2022-09-14 05:27] ankit51 commented on #485
Hi @DN6

I am running it in a notebook.

[2022-09-14 05:34] DN6 commented on #485
Hi @ankit51. `ui.display` is meant to to be used with the Python Panels code editor from the UI

[2022-09-14 14:56] ankit51 commented on #485
OK, understood

[2022-09-14 14:56] #485 closed

[2022-10-17 22:16] kirillv-cim opened #487 "Add tags column to the panel view"
## Is your feature request related to a problem? Please describe.
When comparing multiple selected experiments in Panel view, it's often hard to remember what each experiment is (e.g. during hyper-parameter tuning or architecture search), especially if experiment name is not explicitly set and is randomly generated (either way, not the most appropriate way to discern experiments for multiple attri

[2022-10-18 22:40] msharp-shop opened #488 "API Init Requires api_key"
## Describe the Bug
Running API() throws an error despite all the inputs being optional.

## Expected behavior
The docs show that api_key is optional.   https://www.comet.com/docs/v2/api-and-sdk/python-sdk/reference/API/#api__init__

## Where is the issue?
- [x] Comet Python SDK
- [ ] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lighting etc)

## To Reproduce
Simply

[2022-11-16 06:39] rgaiacs opened #489 "get_metrics() function stop when only one item is in the keyword list"
## Describe the Bug

I'm using the Python SDK and when I run `experiment.get_metrics()`, I get a truncated output if one of the keywords that I provide only have one item.

## Expected behavior

All the keywords are returned.

## Where is the issue?
- [X] Comet Python SDK (version 3.31.1)
- [ ] Comet UI
- [ ] Third Party Integrations (Huggingface, TensorboardX, Pytorch Lighting etc)

## To Reprodu